<div class="container" style="padding-top: 80px; padding-bottom: 80px;">
<h2><%= @lecture.title %></h2>
<hr>
<div class="text-center">

<p><i class="far fa-file-alt"></i> Corta | <i class="fas fa-microphone"></i> ES | <i class="fas fa-pen-alt"></i> Leo</p>
</div>
<div>
<%= @lecture.content.html_safe %>
</div>
<hr>
</div>
