<div style="padding-top: 80px; padding-bottom: 80px;" class="container">
  <div class="">
  <h2>The Bounty Hunter</h2>
  <hr>
<p>Suscribete a the bounty hunter y recibe todos los meses en tu correo el reto, informacion sobre como completarlo y la recompenza del mes. </p>
  </div>
<br>

<%= render 'form', hunter: @hunter %>

<hr>
</div>
