<div class="container" style="padding-top: 80px; padding-bottom: 80px;">
 <h2>Podcast</h2>
 <hr>
 <div class="text-center">
   <h1><i class="fas fa-microphone-alt"></i></h1>
 </div>
 <div class="col-md-12">
  <div class="text-center">
    <h3>PRONTO</h3>
  </div>
</div>
<hr>
<br>
</div>
