<div class="container" style="padding-top: 80px; padding-bottom: 80px;">
  <div class="title-box">
    <h2><%= @episode.title %></h2>
    <a href="/episodes"><h2> <i class="fas fa-list"></i> </h2></a>
  </div>
  <hr>
  <%= @episode.video.html_safe %>
  <hr>
  <div>
  </div>
  <br>
  <br>
  <div class="text-justify">
    <h3>Description</h3>
    <p><%= @episode.description %></p>
  </div>
  <br>
  <br>
  <div class="text-center">
    <br>
    <br>
    <h1>Comunidad</h1>
    <br>
    <p>¡Unete a nuestra comunidad! Por ahí podremos responder cualquier pregunta que tengas sobre las lecturas o el proyecto y escuchar tus comentarios.  También podras encontraras a mas personas aprendiendo, compartiendo y desorrollando. Queremos poder unir a todos nuestros lectores en un espacio donde puedan compartir sus opiniones y se ayuden a crecer unos a otros.</p>
    <a href="/community"><h6 class="btn btn-dark ">
    JOIN NOW</h6></a>
  </div>
  <hr>
</div>
