<p><strong>this is the one</strong></p>
<form id="contact-form" method="post" name="contact_form" target="_top">
<input id="subclient" name="subclient" type="hidden" value="liveandinvestoverseas" />
<input id="SourceCode" name="SourceCode" type="hidden" value="lios-amp-optin" />
<input id="formdesc" name="formdesc" type="hidden" value="amp-lios" />
<input id="thankyouurl" name="thankyouurl" type="hidden" value="https://www.overseaspropertyalert.com/subscribe/thank-you/" />
<input id="failurl" name="failurl" type="hidden" value="https://www.liveandinvestoverseas.com" /> <input id="Email" class="user-valid valid" name="Email" type="email" value="" placeholder="Email Address..." data-required="1" data-validation="email" />
<input class="form-submit" name="submit" type="submit" value="Yes, I'm In!" />
<div>
<p>{{output_message}}</p>
</div>
<div>
<p>There was an error</p>
</div>
</form>

<form class="cf" action="https://reporting.liveandinvestoverseas.com/leads/action-file.php" method="post">
  <input name="project_id" type="hidden" value="212">
  <input name="SourceCode" type="hidden" value="lio-site">
  <input id="input-name" name="First_Name" type="text" value="" placeholder="Name">
  <input id="input-phone" name="Phone" type="tel" value="" placeholder="Phone Number">
  <input id="input-email" spellcheck="false" name="EmailFrom" required="" type="email" value="" placeholder="Email Address">
  <input id="input-email" spellcheck="false" name="EmailConfirm" required="" type="email" value="" placeholder="Verify Email Address">
  <input maxlength="72" name="ThankYou" size="20" type="text" value="https://www.liveandinvestoverseas.com/contact-us/thank-you/">
  <textarea id="input-message" spellcheck="true" name="message" rows="10" placeholder="Message"></textarea>
  <input id="input-submit" name="submit" type="submit" value="Submit">
</form>





<form class="cf" action="https://reporting.liveandinvestoverseas.com/leads/action-file.php" method="post"><input name="project_id" type="hidden" value="212"><br>
<input name="SourceCode" type="hidden" value="lio-site"><p></p>
<div class="half left cf"><input id="input-name" name="First_Name" type="text" value="" placeholder="Name"><br>
<input id="input-phone" autocomplete="OFF" name="Phone" type="tel" value="" placeholder="Phone Number"><br>
<input id="input-email" spellcheck="false" autocomplete="OFF" name="EmailFrom" required="" type="email" value="" placeholder="Email Address"><br>
<input id="input-email" spellcheck="false" autocomplete="OFF" name="EmailConfirm" required="" type="email" value="" placeholder="Verify Email Address"><br>
<input id="input-subject" name="BestTime" type="text" placeholder="Best Time To Call"><p></p>
<div class="antispam">
<p><label id="title4" class="desc" for="empty">Leave this empty</label></p>
<div><input maxlength="72" name="ThankYou" size="20" type="text" value="https://www.liveandinvestoverseas.com/contact-us/thank-you/"></div>
</div>
</div>
<div class="half right cf"><textarea id="input-message" spellcheck="true" name="message" rows="10" placeholder="Message"></textarea></div>
<p><input id="input-submit" name="submit" type="submit" value="Submit"></p>
</form>
