<div class="text-center" style="background-color: black;">
  <div>
    <br>
    <br>
    <div class="container">
      <div>
        <div class="hidden-xs hidden-sm">
          <i class="fas fa-user-astronaut" style="font-size: 150px; color: white;"></i>
        </div>
        <br>
        <h1 style="color: white">THE BOUNTY HUNTER</h1>
        <hr style="background-color:white; ">
        <h5 style="color: white">by BMOProject</h5>
        <br>
        <br>
      </div>
      <h1 style="color: white"><i class="fas fa-laptop-code" style="font-size: 100px;"></i></h1>
      <br>
      <h3 style="color: white">The bounty hunter es una competencia que se creo con la intencion de impulsar la programación. Todos los meses publicaremos un reto donde el mejor programador se ganara la recompenza.  </h3>
    </div>
    <br>
    <br>
  </div>
</div>
<div class="" style="background-color: black; padding-bottom: 50px;">
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 style="color: white;"><i class="fas fa-scroll"></i> Reto:</h1>
        <h3 style="color: white;"> Desarrolla un programa que traduzca caracateres a binario.</h3>
      </div>
      <div class="col-md-4 text-right">
        <h1 style="color: white;"><i class="fas fa-coins"></i> Premio:</h1>
        <h3 style="color: white;"> 10.69$</h3>
      </div>
    </div>
  </div>
</div>
<div class="text-center" style="background-color: black;">
  <div>
    <br>
    <div class="container">
      <h1 style="color: white"><i class="fas fa-calendar-day"></i> Fecha</h1>
      <br>
      <h3 style="color: white">
        1 OCTUBRE al 31 OCTUBRE
      </h3>
    </div>
    <br>
  </div>
</div>
<div class="text-center" style="background-color: black;">
  <div>
    <br>
    <br>
    <div class="container">
      <h1 style="color: white"><i class="fas fa-map-signs"></i> Instrucciones</h1>
      <br>
      <h3 style="color: white">
        Desarrolla una pieza de codigo que al ingresar datos los traduzca a binario y imprima la respuesta. Puedes desarrollar el proyecto en cualquier lenguaje y no hay limite para lo que quieras armar, mientras mas utilidades tenga mas posibilidades tienes de ganar. <br>  <br> Debes montar el codigo en github y enviarnos un correo con un screenrecord del codigo corriendo junto con el link del repositorio a bmoproject@criptext.com.
      </h3>
    </div>
    <br>
    <br>
  </div>
</div>
<div class="text-center" style="background-color: black;">
  <div>
    <br>
    <br>
    <div class="container">
      <h1 style="color: white"><i class="fas fa-money-bill-wave"></i> Recompenza</h1>
      <br>
      <h3 style="color: white">
        La recompenza sera entregada al mejor proyecto el 31 octubre. <br>
        <br>El premio tiene un valor de 10.69 usd los cuales pueden ser cambiados por: <br> Un curso de Udemy (Solo valido en descuento), <br> Una botella de ron con coca-cola 1.5 lt (Solo valido si eres 18+) o <br> Efectivo / Transferencia. <br> <br>
        Tambien seras reconocido como el bounty hunter del mes.
      </h3>
    </div>
    <br>
    <br>
  </div>
</div>
<div class="text-center" style="background-color: black;">
  <div>
    <br>
    <br>
    <div class="container">
      <h1 style="color: white"><i class="fas fa-info-circle"></i> Pistas</h1>
      <br>
      <h3 style="color: white">
        puts "Binary Translator" <br>
        user_text=gets.chomp <br>
        if user_text.include? "a" <br>
        user_text.gsub!(/a/,"01000001") <br>
        end<br>
        puts"#{user_text}" <br>
        <br>
        <a href="http://sticksandstones.kstrom.com/appen.html" style="color: white">Binary Table</a>
      </h3>
    </div>
    <br>
  </div>
</div>
<div class="text-center" style="background-color: black;">
  <div>
    <br>
    <br>
    <div class="container">
      <h1 style="color: white"><i class="fas fa-users"></i> Comunidad</h1>
      <br>
      <h3 style="color: white">
        <a href="/community"><p class="btn btn-dark">Comunidad</p></a>
      </h3>
    </div>
    <br>
    <br>
  </div>
</div>
