<div class="container" style="padding-top: 80px; padding-bottom: 80px;">
  <h2 class="">Comunidad</h2>
  <hr>
  <br>
<div class="text-center" style="padding-top: 40px" >
  <a href="https://chat.whatsapp.com/FFcGwgTjdbRKASfyjYd3UD" target="_blank"><h2 style="font-size: 40px"><i class="fab fa-whatsapp"></i> | WHATSAPP</h2></a>
  <p>Unete a nuestro grupo de whatsapp y comparte. Si tienes alguna duda, comentario o no sabes por donde empezar por ahi te podemor dar una mano. </p>
  <a href="https://chat.whatsapp.com/FFcGwgTjdbRKASfyjYd3UD" target="_blank"><h6 class="btn btn-dark ">
  Únete</h6></a>
</div>
<div class="text-center" style="padding-top: 40px" >
  <a href="https://discord.gg/TW39gRf" target="_blank"><h2 style="font-size: 40px"><i class="fab fa-discord"></i> | DISCORD</h2></a>
  <p>Si quieres hablar con nosotros, únete al canal de discordia por hay podremos responder tus dudas y ayudarte con cualquier duda que tengas a travez una conversación. Llega y aprende a programar con programadores, aprovecha y pregunta. Recibiras consejos de forma gratuita. </p>
  <a href="https://discord.gg/TW39gRf" target="_blank"><h6 class="btn btn-dark ">
  Únete</h6></a>
</div>
<div class="text-center" style="padding-top: 40px" >
  <a href="https://www.patreon.com/bmoproject" target="_blank"><h2 style="font-size: 40px"><i class="fab fa-patreon"></i> | PATREON</h2></a>
  <p>Si quieres contactarnos de forma directa, únete a nuestro grupo de WhatsApp. Por hay podremos ayudarte e instruirte con cualquier duda que tengas sobre el proyecto. También podrás encontrar a muchas otras personas compartiendo y aprendiendo. </p>
  <a href="https://www.patreon.com/bmoproject" target="_blank"><h6 class="btn btn-dark ">
  Suscribete</h6></a>
</div>
<div class="text-center" style="padding-top: 40px" >
  <a href="https://www.instagram.com/bmoproject/" target="_blank"><h2 style="font-size: 40px"><i class="fab fa-instagram"></i> | INSTRAGRAM</h2></a>
  <p>Siguenos en instagram y mantente al tanto de todas nuestras novedades del proyecto.</p>
  <a href="https://www.instagram.com/bmoproject/" target="_blank"><h6 class="btn btn-dark ">
  Siguenos</h6></a>
</div>
<div class="text-center" style="padding-top: 40px" >
  <a href="/subscriptions/new" target="_blank"><h2 style="font-size: 40px"><i class="fas fa-envelope-open-text"></i> | NEWSFEED</h2></a>
  <p>Suscribete a nuestro newsfeed y recibe todas nuestras noticias a tu correo.</p>
  <a href="https://www.patreon.com/bmoproject" target="_blank"><h6 class="btn btn-dark ">
  Suscribete</h6></a>
</div>

<br>
<br>
<hr>
</div>
