<div class="container" style="padding-top: 80px; padding-bottom: 80px;">
  <h2 class="">Comunidad</h2>
  <hr>
  <br>
  <h1 class="text-center">¡ ÚNETE !</h1>
  <br>
  <br>
  <div class="row">
    <div class="col-xs-12 col-md-3 text-center">
      <a href="https://www.twicth.com/bmoproject/" target="_blank"><h1><i class="fab fa-twitch" style="font-size: 60px;"></i></h1></a>
    </div>
    <div class="col-xs-12 col-md-3 text-center">
     <a href="https://www.instagram.com/bmoproject/" target="_blank"> <h1><i class="fab fa-instagram" style="font-size: 60px;"></i></h1></a>
   </div>
   <div class="col-xs-12 col-md-3 text-center">
     <a href="https://www.twitter.com/bmoproject/" target="_blank"> <h1><i class="fab fa-twitter" style="font-size: 60px;"></i></h1> </a>
   </div>
   <div class="col-xs-12 col-md-3 text-center">
     <a href="https://www.youtube.com/bmoproject/" target="_blank"> <h1><i class="fab fa-youtube" style="font-size: 60px;"></i></h1> </a>
   </div>
 </div>
 <br>
 <div class="row">
 <div class="col-xs-12 col-md-4 text-center">
     <a href="https://www.slack.com/bmoproject/" target="_blank"> <h1><i class="fab fa-slack" style="font-size: 60px;"></i></h1> </a>
   </div>
   <div class="col-xs-12 col-md-4 text-center">
     <a href="https://www.discord.com/bmoproject/" target="_blank"> <h1><i class="fab fa-discord" style="font-size: 60px;"></i></h1> </a>
   </div>
    <div class="col-xs-12 col-md-4 text-center">
     <a href="https://www.discord.com/bmoproject/" target="_blank"> <h1><i class="fab fa-reddit" style="font-size: 60px;"></i></h1> </a>
   </div>
 </div>
 <br>
 <div class="text-center" style="padding-top: 40px" >
    <h2 style="font-size: 40px"><i class="fab fa-patreon"></i> | PATREON</h2></a>
 <p>Si deseas contribuir con el proyecto y recibir beneficios al mismo tiempo suscríbete en Patreon.</p>
 <a href="https://www.patreon.com" target="_blank"><h6 class="btn btn-dark ">
 JOIN NOW</h6></a>
 </div>
<hr>
</div>
