<div class="container" style="padding-top: 80px; padding-bottom: 80px;">
 <h3> Contacto</h3>
 <hr>
 <div class="col-xs-12 text-center contact">
  <br>
  <%= image_tag("logo.png")%>
  <br>
  <br>
  <h4><i class="fas fa-envelope"></i> bmo@bmoproject.com</h4>
  <br>
</div>
<hr>
</div>

