<div class="container" style="padding-top: 50px; padding-bottom: 100px;">
  <hr>
  <div class="number" style="background-color: black;">
   <a href="/"><h2 class="text-center" style="color: white;"><i class="fas fa-home"></i> Home</h2></a>
 </div>
 <div class="number" style="background-color: black;">
   <a href="/lectures"><h2 class="text-center" style="color: white;"><i class="fas fa-file-alt"></i> Lecturas</h2></a>
 </div>
 <div class="number" style="background-color: black;">
   <a href="/episodes"><h2 class="text-center" style="color: white;"><i class="fas fa-microphone-alt"></i> Podcast</h2></a>
 </div>
  <div class="number" style="background-color: black;">
   <a href="https://www.twitch.tv/bmoproject"><h2 class="text-center" style="color: white;"><i class="fab fa-twitch"></i> Live Stream</h2></a>
 </div>
 <div class="number" style="background-color: black;">
   <a href="https://discord.gg/TW39gRf"><h2 class="text-center" style="color: white;"><i class="fab fa-discord"></i> Discord</h2></a>
 </div>
 <div class="number" style="background-color: black;">
   <a href="https://www.patreon.com/bmoproject"><h2 class="text-center" style="color: white;"><i class="fab fa-patreon"></i> Patreon</h2></a>
 </div>
 <div class="number" style="background-color: black;">
   <a href="/topics"><h2 class="text-center" style="color: white;"><i class="fas fa-book"></i> Tutoriales</h2></a>
 </div>
  <div class="number" style="background-color: black;">
   <a href="/links"><h2 class="text-center" style="color: white;"><i class="fas fa-link"></i> Enlaces</h2></a>
 </div>
<div class="number" style="background-color: black;">
   <a href="/community"><h2 class="text-center" style="color: white;"><i class="fas fa-people-carry"></i> Comunidad</h2></a>
 </div>
 <div class="number" style="background-color: black;">
   <a href="/contact"><h2 class="text-center" style="color: white;"><i class="fas fa-phone"></i> Contacto</h2></a>
 </div>
  <hr>
</div>
