<div class="container" style="padding-top:100px; padding-bottom: 100px;">
 <h3>Enlaces</h3>
 <hr>
 <h4><i class="fas fa-terminal"></i>Programacion</h4>
<div class="">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">Aprende</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu1">Lenguajes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu2">Editores</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu3">Herramientas</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="container tab-pane active"><br>
      <p><a target="_blank" href="https://www.codecademy.com/">- https://www.codecademy.com/</a></p>
      <p><a target="_blank" href="https://www.udemy.com/">- https://www.udemy.com/</a></p>
      <p><a target="_blank" href="https://www.w3schools.com/">- https://www.w3schools.com/</a></p>
      <p><a target="_blank" href="https://fazt.com/">- https://www.fazt.com/</a></p>
      <p><a target="_blank" href="https://platzi.com/">- https://www.platzi.com/</a></p>
      <p><a target="_blank" href="https://codigofacilito.com/">- https://www.codigofacilito.com/</a></p>
    </div>
    <div id="menu1" class="container tab-pane fade"><br>
      <p><a target="_blank" href="https://www.python.org/">- https://www.python.org/</a></p>
      <p><a target="_blank" href=" https://www.ruby-lang.org/es/">-  https://www.ruby-lang.org/</a></p>
      <p><a target="_blank" href="https://www.golang.org/">- https://www.golang.org/</a></p>
      <p><a target="_blank" href="https://www.golang.org/">- https://www.javascript.com/</a></p>

    </div>
    <div id="menu2" class="container tab-pane fade"><br>
      <p><a target="_blank" href="https://www.sublimetext.com/">- https://www.sublimetext.com/</a></p>
      <p><a href="https://www.atom.io/">- https://atom.io/</a></p>
      <p><a href="https://www.code.visualstudio.com/">- https://www.code.visualstudio.com/</a></p>
    </div>
    <div id="menu3" class="container tab-pane fade"><br>
      <p><a target="_blank" href="https://www.google.com/">- https://www.google.com/</a></p>
      <p><a target="_blank" href="https://www.stackoverflow.com/">- https://www.stackoverflow.com/</a></p>
    </div>
  </div>
</div>
 <br>
 <hr>
</div>

