<div class="container" style="padding-top: 80px; padding-bottom: 80px;">
  <h1 class=""><%= @post.title %></h1>
  <hr>
  <div class="text-center">
    <%= @post.video.html_safe %>
    <hr>
    <p><i class="fas fa-hourglass-end"></i> <%= @post.time %> | <i class="fas fa-microphone"></i> <%= @post.language%> | <i class="fab fa-youtube"></i> Youtube</p>
  </div>
  <br>
  <div class="">
    <h3><i class="fas fa-hat-wizard"></i> Creador: Fatz</h3>
    <p><a href="https://www.faztweb.com/"><i class="fas fa-globe"></i> Website</a> | <a href="https://www.instagram.com/fazttech/"><i class="fab fa-instagram"></i> Instagram</a> | <a href="https://www.youtube.com/channel/UCX9NJ471o7Wie1DQe94RVIg"><i class="fab fa-youtube"></i> Youtube</a></p>
  </div>
  <br>
  <div>
    <p>Python es un lenguaje de programación que te permite trabajar rápidamente e integrar sistemas de manera más efectiva. Python tiene un monton de ultidades lo que hace una herramienta importante a la hora de desarollar software. Fatz creo un video explicando la base que necesitas para usar python y empezar a escribir codigo. Podras ver que es un lenguaje de programacion, como se instala como se ejecuta y como funcionan a la hora de programar. Fatz es un developer que se a dedicado a generar contenido explicando temas de Programación y Desarrollo Web. Suscribete a su canal y sigue aprendiendo.
    </p>
    <br>
    <p>Aprende: <br>
      - Que es python <br>
      - Como instalar python <br>
      - Python en la consola <br>
      - Como usar un code editor <br>
      - Tipos de datos <br>
      - Comentarios <br>
      - Variables <br>
      - Strings <br>
      - Numeros Enteros y Decimales <br>
      - Listas <br>
      - Tuplas <br>
      - Sets <br>
      - Dictionarios <br>
      - Conditionales <br>
      - Funciones <br>
      - Modulos <br>
    </p>
    <br>
    <p>Enlaces: <br>
      Documentacion - <a href="https://www.python.org/doc/">https://www.python.org/doc/</a> <br>
      VS code - <a href="https://code.visualstudio.com/">https://code.visualstudio.com/</a>
    </p>
  </div>
  <br>
  <div class="text-center">
    <br>
    <img src="https://clipartart.com/images/slack-logo-clipart-transparent-2.png" alt="" height="60px">
    <br>
    <br>
    <p>¡Unete a nuestro canal de slack! Por allí podremos responder cualquier pregunta que tengas sobre las lecturas o el proyecto.  También podras encontraras a mas personas aprendiendo, compartiendo y desorrollando. Queremos poder unir a todos nuestros lectores en un espacio donde puedan compartir sus opiniones y se ayuden a crecer unos a otros. </p>
    <a href="https://join.slack.com/t/voidcamp/shared_invite/zt-d0os541d-Va~ccbQ9gorA5wzU3wgTzA" target="_blank"><h6 class="btn btn-dark ">
    JOIN NOW</h6></a>
  </div>
  <hr>
</div>

