<div class="container" style="padding-top: 100px; padding-bottom: 100px;">
  <br>
  <h2>Equipo</h2>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="card-team">
        <img src="http://www.leonardoluxburg.com/assets/handsomemotherfucker-65014a58dab256fc73d6ed5dedea88364e063ff5393a606edea18d1f25bebef1.png" alt="Leo" style="width:100%">
        <h1>Leo</h1>
        <p class="title-team">Software Developer</p>
        <p>Escritor - Host</p>
        <div style="">
          <a href="https://www.twitter.com/leonardoluxburg/" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/leonardoluxburg/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://github.com/leoluxburg/" target="_blank"><i class="fab fa-github"></i></a>
        </div>
        <br>
        <p><a href="http://www.leonardoluxburg.com" target="_blank"><button>MORE</button></a></p>
      </div>
    </div>
  </div>
</div>
