<div class="container" style="padding-top: 100px; padding-bottom: 100px;">
  <h2>Subscriptions</h2>
  <hr>
  <% @subscriptions.each do |subscription| %>
  <p><strong>Email: </strong><%= subscription.email %></p>
  <% end %>
  <hr>
</div>
