<div class="container" style="padding-top: 80px; padding-bottom: 80px;">
  <h2 class="">Comunidad</h2>
  <hr>
  <br>
  <div class="text-center">
    <h2>Se parte de BMO Project</h2>
    <br>
    <%= render 'form', subscription: @subscription %>
    <br>
    <br>
    <div class="row">
      <div class="col-xs-12 col-md-3 text-center">
        <a href="https://www.twitch.tv/bmoproject" target="_blank"><h1><i class="fab fa-twitch" style="font-size: 60px;"></i></h1></a>
      </div>
      <div class="col-xs-12 col-md-3 text-center">
       <a href="https://www.instagram.com/bmoproject/" target="_blank"> <h1><i class="fab fa-instagram" style="font-size: 60px;"></i></h1></a>
     </div>
     <div class="col-xs-12 col-md-3 text-center">
       <a href="https://twitter.com/projectbmo" target="_blank"> <h1><i class="fab fa-twitter" style="font-size: 60px;"></i></h1> </a>
     </div>
     <div class="col-xs-12 col-md-3 text-center">
       <a href="https://www.youtube.com/channel/UC9AVZ28qihjWSr-XtUs0Gsg?view_as=subscriber" target="_blank"> <h1><i class="fab fa-youtube" style="font-size: 60px;"></i></h1> </a>
     </div>
   </div>
   <br>
   <div class="row">
     <div class="col-xs-12 col-md-4 text-center">
       <a href="https://join.slack.com/t/bmoprojectworkspace/shared_invite/zt-fg7okvhg-mQedNmfvd~ijbhFXjB~oOQ" target="_blank"> <h1><i class="fab fa-slack" style="font-size: 60px;"></i></h1> </a>
     </div>
     <div class="col-xs-12 col-md-4 text-center">
       <a href="https://discord.com/channels/725522559600295946/725524502049587201" target="_blank"> <h1><i class="fab fa-discord" style="font-size: 60px;"></i></h1> </a>
     </div>
     <div class="col-xs-12 col-md-4 text-center">
       <h1><i class="fab fa-github" style="font-size: 60px;"></i></h1>
     </div>
   </div>
   <br>
   <div class="text-center" style="padding-top: 40px" >
    <a href="https://www.patreon.com/bmoproject" target="_blank"><h2 style="font-size: 40px"><i class="fab fa-patreon"></i> | PATREON</h2></a>
    <p>Si deseas contribuir con el proyecto y recibir beneficios al mismo tiempo suscríbete en Patreon.</p>
    <a href="https://www.patreon.com/bmoproject" target="_blank"><h6 class="btn btn-dark ">
ÚNETE AHORA</h6></a>
  </div>
  <br>
  <br>
  <hr>
</div>



