<div class="container" style="padding-top: 80px; padding-bottom: 80px;">
  <h3>Suscribete</h3>
  <hr>
  <h4>Suscribete y recive todo el contenido del projecto en tu correo. <a href="/community">ยก Unete a la comunidad !</a>  </h4>
<br>
 <div class="text-center"> <%= render 'form', suscribe: @suscribe %></div>
  <br>
  <br>
  <hr>
</div>





