<div style="padding-top: 80px; padding-bottom: 80px;" class="container">
  <div class="text-center">
  <h2>Aprende Online</h2>
  <hr>
  <p>En bmoproject queremos ayudarte a cumplir tus metas. El internet es la libreria de informacion más grande del mundo y esta informacion se puede convertir en conocimiento. A través de nuestra experencia y herramientas digitales, queremos ayudarte a emprender y crecer como persona. Cuéntanos qué quieres aprender y por qué quieres aprender ese tema. Te enviaremos una guía detallada a tu correo.</p>
  </div>
<br>

<%= render 'form', bmo: @bmo %>

</div>
