<div style="padding-top: 80px; padding-bottom: 80px;" class="container">
  <div class="text-center">
  <h2>Aprende Online</h2>
  <hr>
  <p>En bmoproject queremos a ayudarte a cumplir tus metas. El internet es la libreria de informacion mas grande del mundo, a travez de nuestra experencia y herramientas digitales queremos guiarte a emprender y crecer como persona. Cuentanos que quieres aprender, el porque y recibe una guia detallada en tu correo.</p>
  </div>
<br>

<%= render 'form', bmo: @bmo %>

</div>
