<div style="padding-top: 80px; padding-bottom: 80px;" class="container">
  <div class="text-center">
  <h2>Aprende Online</h2>
  <hr>
  <p>En bmoproject queremos ayudarte a cumplir tus metas. El internet es la libreria de informacion más grande del mundo y esta informacion se puede convertir en conocimiento. A través de nuestra experencia y con el uso de herramientas digitales, queremos ayudarte a emprender y crecer como persona. Cuéntanos qué quieres hacer y te enviaremos una guía detallada a tu correo explicandote que y porque debes aprender.</p>
  </div>
<br>

<%= render 'form', bmo: @bmo %>

</div>

