<div style="padding-top: 80px; padding-bottom: 80px;" class="container">
  <div class="text-center">
  <h2>Mentoria Online</h2>
  <hr>A través de nuestra experiencia y con el uso de herramientas digitales, queremos ayudarte a emprender y desarrollar tus ideas. Cuéntanos cual es tu meta y te enviaremos una guía detallada de como puedes empezar. Recibirás un desglose de los pasos que debes seguir y recomendaciones a herramientas y contenido gratuito que facilitaran el proceso.</p>
  </div>
<br>

<%= render 'form', bmo: @bmo %>

</div>

